.brands-div{
    text-align: center;
}
.brands-div h1{
    margin: 50px 30px;
    font-size: 45px;
}
.brands-ul li{
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}
.brands-ul li a{
    text-decoration: none;
}
.images-css img{
    border: 1px solid #c1c1c1;
    height: 225px;
    width: 225px;
    cursor: pointer;
    border-radius: 250px;
    -webkit-border-radius: 250px;
}
.cards-div{
    margin: 100px 0px 100px 0px;
}
.cards-div h1{
    margin: 50px 30px;
    font-size: 45px;
    text-align: center;
}